[Unit]
Description=tdx7984 Taiwan bus arrival time
ConditionPathExists=/opt/tdx7984/

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/tdx7984/app.py
StandardOutput=journal
StandardError=journal
# https://github.com/dracutdevs/dracut/issues/986

[Install]
WantedBy=multi-user.target
