<html>
<head>
<meta charset="UTF-8" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='tdx.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='dark.css') }}" media="(prefers-color-scheme: dark)" />
<title>tdx7984 "去坐巴士"</title>
</head>
<body>
    <h1>縣市列表</h1>

    <table border="1" class="center">
	<tr><th>code <th>中文 <th>English
        {% for cname in city_list['by_cname'] %}
        <tr>
            <td>{{ city_list['by_cname'][cname]['code'] }}</td>
	    <td><a href="/bus/routes/{{ cname }}">{{cname}}</a></td>
            <td>{{ city_list['by_cname'][cname]['ename'] }}</td>
        </tr>
        {% endfor %}
    </table>

    {% include "footer.html" %}
</body>
</html>

