<html>
<head>
<meta charset="UTF-8" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='tdx.css') }}" />
<title>tdx7984 "去坐巴士"</title>
</head>
<body>
    <h1>{{ rtname }} @ {{ city }}</h1>
    <!-- jinja 的語法有點複雜：
    https://documentation.bloomreach.com/engagement/docs/useful-jinja-snippets
    https://jinja.palletsprojects.com/en/3.0.x/templates/
    乾脆在主程式裡先處理好比較快。
    如果 dict 裡面找不到想要的 key， 並不會出錯， 就印空字串， 這一點很方便。
    -->

    <table border="1" class="center">
	<tr> <th>順序 <th>車牌 <th>預估 <th>站名 <th>預估 <th>車牌 <th>順序
        {% for stop in est %}
        <tr>
            <td>{{ stop['dir0']['StopSequence'] }}</td>
            <td>{{ stop['dir0']['PlateNumb'] }}</td>
	    <td>{{ stop['dir0']['est_min'] }}</td>
	    <td><a href="/bus/stop/{{ city }}/{{ stop['StopName']['Zh_tw'] }}">{{ stop['StopName']['Zh_tw'] }}</a></td>
	    <td>{{ stop['dir1']['est_min'] }}</td>
            <td>{{ stop['dir1']['PlateNumb'] }}</td>
            <td>{{ stop['dir1']['StopSequence'] }}</td>
        </tr>
        {% endfor %}
    </table>

    <p class="center">* 站牌順序若是超出 0~99， 表示 tdx 傳回的資料裡沒有站牌順序，
    tdx7984 只好胡亂指定； 它會被放在錯誤的位置。</p>

    <p class="center"><a href="/bus/sched/{{ city }}/{{ rtname }}">{{ rtname}} 發車時刻表</a> (只有少數縣市才有)</p>

    {% include "footer.html" %}
</body>
</html>
